<!DOCTYPE html>
<html ng-app="test">
<head>
    <meta charset="utf-8" />
    <title>Docker Test</title>
    <meta name="viewport" content="width=device-width" />
    <script src="js/jquery.js"></script>
    <script src="js/angular.js"></script>
    <script src="js/bootstrap.js"></script>
    <link href="css/bootstrap.css" rel="stylesheet" />
    <link href="css/bootstrap-theme.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <div class="row">
            <ul class="nav nav-tabs" ng-init="tab='requirements'">
                <li ng-class="{active:tab=='requirements'}">
                    <a href="#requirements" ng-click="tab='requirements'">Requirements</a>
                </li>
                <li ng-class="{active:tab=='test'}">
                    <a href="#test" ng-click="tab='test'">Test</a>
                </li>
            </ul>
            <div class="tab-content">
                <div id="requirements" class="tab-pane" ng-class="{active:tab=='requirements'}">
                    <requirements></requirements>
                </div>
                <div id="test" class="tab-pane" ng-class="{active:tab=='test'}">
                    <run-test></run-test>
                </div>
            </div>
        </div>
    </div>
    <script src="js/all.js"></script>
</body>
</html>